.fancy-select-replaced {
	border:1px solid #C5C923;
	margin: 0;
	clear: both;
	color: #000;
	background: url(down.png) no-repeat 5px -42px;
}
	.fancy-select-replaced .fancy-placeholder {
		padding: 9px 0 9px 25px;
		line-height: 1;
		font-size: 12px;
		background: none;
		border: none;
		margin: 0;
		overflow: hidden;
	}
		.fancy-select-replaced p.fancy-placeholder {
			padding-left: 28px;
		}
	
	.fancy-select-replaced.fancy-select-hovered {
		background: url(down.png) no-repeat 5px 7px;
		cursor: pointer;
	}
	.fancy-select-replaced.fancy-select-open {
		border-color: rgba(0, 0, 0, 0.2);
		border-bottom: none;
		background: url(up.png) no-repeat 5px -40px;
	}
		.fancy-select-replaced.fancy-select-open p {
			color: #aaa;
		}
		.fancy-select-replaced.fancy-select-open.fancy-select-hovered {
			background: url(up.png) no-repeat 5px 7px;
		}
	
.fancy-select-results {
	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
	.fancy-select-results ul {
		margin: 0;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-width: 0 1px;
	}
	
	.fancy-select-results li {
		list-style: none;
		margin: 0;
		padding: 5px;
		cursor: pointer;
		display: block;
		cursor: pointer;
		font: menu;
		font-size: 11px;
		overflow: hidden;
		border-bottom: 1px solid #EEE;
	}